/* Footer 스타일 */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    font-size: larger;
    height: 60px;
}

.footer-item {
    text-align: center;
}

/* 추가적인 스타일링을 위한 예시 */
.footer-item h3 {
    margin-top: 10px;
}

.footer-item p {
    margin: 0;
}

.footer-item h3 {
    order: 2;
    /* 순서 변경 */
}

.footer-item p {
    order: 1;
    /* 순서 변경 */
}