@charset "UTF-8";

#countion{
	margin: 0 auto;
}
.login-container {
	/*100% 넘어가지 않게*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
    
	max-width:60%;
	min-width: 350px;
	height: 540px;
    background-color: #fff;
    
    padding: 50px;
    margin: 20px auto;
    border-radius: 20px;
    text-align:center;
    
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
	/* 요소를 세로 정렬*/
    display: flex;
    flex-direction: column;
    
	width: 100%;
	margin: 0 auto; 
	text-align: center;
}

.login-form > input {
	width: 300px;
	height: 45px;
	border-radius: 10px;
}

.login-form > input[type="text"] , input[type="password"] {
	border: 0.01em solid black;
	border-radius: 10px;
	margin: 3px auto; 
	height: 45px;
	width: 294px;
	padding: 2px;
	font-size: 0.8em;
}

.login-form > input:focus {
	border: 2px solid var(--maincolor);
	outline: none;
	
}

.login_btn {
	border-radius: 10px;
	
	width: 300px;
	height: 45px;
	border: 0.01em solid var(--maincolor);
    background-color: var(--maincolor);
    color: white;
    
	margin: 5px auto;
    text-align: center;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    cursor: pointer; /* 마우스가 버튼 위에 올라갔을 때 포인터 모양으로 변경 */
}

.login_btn:hover .login_btn:focus, .login_btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}


/* 회원가입 */
.join_btn {
	border: none;
	border-radius: 20px;
	
	width: 300px;
	height: 45px;
	border: 0.03em solid var(--maincolor);
    background-color: white;
    color: white;
    
	margin: 5px auto;
    text-align: center;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    cursor: pointer; /* 마우스가 버튼 위에 올라갔을 때 포인터 모양으로 변경 */
    border-radius: 5px;
}

.join_btn:hover .login_btn:focus, .login_btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}


/* 카카오 로그인 */
.kakao-login-btn {
	border-radius: 10px;
	
    display: inline-block;
    margin-top: 0px; /* 카카오 로그인 버튼과 일반 로그인 버튼 사이의 간격 조절 */
}

.kakao-login-btn img {
	margin: 0px auto;
	border-radius: 10px;
    width: 300px; /* 이미지의 너비 조절 */
    height: auto; /* 이미지의 높이를 자동으로 조절하여 비율 유지 */
    cursor: pointer; /* 마우스가 버튼 위에 올라갔을 때 포인터 모양으로 변경 */
}


body{
	background-color: lightgray;
}