<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.PostCommentMapper">


	<!-- 공통 조회 기능 -->
	<!-- 전체 댓글 가져오기 -->
	<select id="selectCommentsByPostId" parameterType="BigDecimal"
		resultType="PostComment">
		select * from post_comment where post_id=#{post_id}
	</select>

	<!-- 포스트별 댓글 개수 세기 -->
	<select id="countCommentsByPostId" parameterType="BigDecimal"
		resultType="int">
		select max(rownum) from post_comment where
		post_id=#{post_id}
	</select>

	<!-- 작성자의 댓글 조회 (마이페이지 > 내 댓글 조회) -->
	<select id="selectMyComment" parameterType="String"
		resultType="BigDecimal">
		select * from post_comment where user_id=#{user_id}
	</select>

	<select id="commentsByPostId" parameterType="BigDecimal" resultType="CommentHierarchyView">
		select * from COMMENT_HIERARCHY_VIEW WHERE POST_ID = #{post_id}
	</select>

	<!-- QnaForm, CommuForm -->
	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="PostComment">
		insert into post_comment(post_id,user_id,comment_content, write_date)
		values(#{post_id}, #{user_id}, #{comment_content}, sysdate)
	</insert>

	<!-- 대댓글 작성 -->
	<insert id="insertRecommnet" parameterType="PostComment">
	</insert>

	<!-- 댓글 수정 -->
	<update id="update" parameterType="PostComment">
	</update>

	<!-- 포스팅 삭제 -->
	<delete id="delete" parameterType="BigDecimal">
	</delete>


</mapper>