<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.PostMapper">
	
	
	<!-- 조회 기능 -->
	<!-- 특정 포스팅 조회 -->
	<select id="select" parameterType="BigDecimal" resultType="Post">
		select * from post where post_id=#{post_id}
	</select>
	
	<!-- 작성자의 최근 작성 포스팅 조회(작성, 수정 후 보여줄 상세페이지) -->
	<select id="selectRecent" parameterType="String" resultType="BigDecimal">
		select max(post_id) from post where user_id=#{user_id}
	</select>
	
	<!-- 타입별 포스팅 개수 세기 (정렬을 위해) -->
	<select id="selectMaxRow" parameterType="String" resultType="int">
		select max(rownum) from post where post_type=#{post_type}
	</select>
	
	<!-- 첫 페이지 타입별 포스팅 목록 조회 -->
	<select id="selectFirst" parameterType="String" resultType="Post">
		select * from (select * 
		from post where post_type=#{post_type} 
		order by post_id desc) where rownum &lt;= 5
	</select>
	
	<!-- 더보기 버튼으로 보여줄 포스팅 목록 조회 -->
	<select id="selectMore" parameterType="java.util.Map" resultType="Post">
		select post_id, question_id, post_type, user_id, title, post_content, is_rewrite, write_date, report_cnt, is_adopted, is_anonymous 
		from(select rownum as rnum, sub.* 
		from(select * from post 
		where post_type = #{post_type}
		order by post_id desc) sub 
		where rownum &lt;= #{idx}+#{cnt}) 
		where rnum > #{idx}
	</select>
	
	<!-- 타입별 작성자의 포스팅 목록 조회 -->
	<select id="selectMine" parameterType="java.util.Map" resultType="Post">
		select * from post where user_id=#{user_id} and post_type=#{post_type}
	</select>



	<!-- Main -->
	<!-- 답변 포스팅 개수 세기 -->
    <select id="ansCount" parameterType="BigDecimal" resultType="int">
        select count(*) from post where question_id=#{question_id}
    </select>


	
	<!-- QnaForm, CommuForm -->
	<!-- 포스팅 작성 -->
	<insert id="insert" parameterType="Post">
		insert into post (post_id, <if test="question_id != null">question_id,</if> post_type, user_id, title, post_content, is_rewrite, write_date, report_cnt, is_adopted, is_anonymous)
    	values (post_id_seq.NEXTVAL, <if test="question_id != null">#{question_id},</if> #{post_type}, #{user_id}, #{title}, #{post_content}, #{is_rewrite}, sysdate, #{report_cnt}, #{is_adopted}, #{is_anonymous})
	</insert>
	
	<!-- 포스팅 수정 -->
	<update id="update" parameterType="Post">
		update post set title=#{title}, post_content=#{post_content}, is_rewrite='T' where post_id=#{post_id}
	</update>
	
	<!-- 포스팅 삭제 -->
	<delete id="delete" parameterType="BigDecimal">
		delete from post where post_id=#{post_id}
	</delete>


</mapper>