<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.PostCommentMapper">
	
	
	<!-- 공통 조회 기능 -->
	<!-- 전체 댓글 가져오기 -->
	<select id="selectCommentsByPostId" parameterType="BigDecimal" resultType="PostComment">
		select * from post where post_id=#{post_id}
	</select>
	
	<!-- 포스트별 댓글 개수 세기 -->
	<select id="countCommentsByPostId" parameterType="BigDecimal" resultType="int">
		select max(rownum) from post where post_id=#{post_id}
	</select>

	<!-- 작성자의 댓글 조회 (마이페이지 > 내 댓글 조회) -->
	<select id="selectMyComment" parameterType="String" resultType="BigDecimal">
		select * from post where user_id=#{user_id}
	</select>
	
	
	<!-- QnaForm, CommuForm -->
	<!-- 댓글 작성 -->
	<insert id="insert" parameterType="PostComment">
		insert into post values(post_id_seq.NEXTVAL, (null), #{post_type}, #{user_id}, #{title}, #{post_content}, #{is_rewrite}, sysdate, #{report_cnt}, #{is_adopted}, #{is_anonymous})
	</insert>
	
	<!-- 대댓글 작성 -->
	<insert id="insertRecommnet" parameterType="PostComment">
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="update" parameterType="PostComment">
	</update>
	
	<!-- 포스팅 삭제 -->
	<delete id="delete" parameterType="BigDecimal">
	</delete>


</mapper>