<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.UserReactionMapper">
	
	
	<!-- 공통 조회 기능 -->
	<!-- 특정 포스트의 좋아요 가져오기 -->
	<select id="countLikeByPostId" parameterType="BigDecimal" resultType="int">
		select max(rownum) from user_reaction where post_id=#{post_id} and type='L'
	</select>
	
	<!-- 특정 사용자의 북마크 리스트 좋아요 가져오기 -->
	<select id="countCommentsByPostId" parameterType="BigDecimal" resultType="UserReaction">
		select * from user_reaction where user_id=#{user_id} and type='B'
	</select>
	
	
	<!-- 좋아요 추가 -->
	<insert id="like" parameterType="UserReaction">
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="unLike" parameterType="UserReaction">
	</delete>

	<!-- 북마크 추가 -->
	<insert id="bookMark" parameterType="UserReaction">
	</insert>
	
	<!-- 북마크 삭제 -->
	<delete id="unBookMark" parameterType="UserReaction">
	</delete>

</mapper>