<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.UserReactionMapper">
	
	
	<!-- 공통 조회 기능 -->
	<!-- 특정 포스트의 좋아요 가져오기 -->
	<select id="countLikeByPostId" parameterType="BigDecimal" resultType="int">
		select max(rownum) from user_reaction where post_id=#{post_id} and type='L'
	</select>
	
	<!-- 특정 사용자의 북마크 리스트 좋아요 가져오기 -->
	<select id="countCommentsByPostId" parameterType="BigDecimal" resultType="UserReaction">
		select * from user_reaction where user_id=#{user_id} and type='B'
	</select>
	
	<!-- 특정 사용자의 특정 포스트의 특정 반응이 존재하는지 확인 -->
	<select id="findReaction" parameterType="UserReaction" resultType="int">
		select count(*) from user_reaction where user_id = #{user_id} and post_id = #{post_id} and type=#{type}
	</select>
	
	<!-- 반응 추가 -->
	<insert id="insertReaction" parameterType="UserReaction">
		insert into user_reaction(user_id, post_id, type) values(#{user_id}, #{post_id}, #{type})
	</insert>
	
	<!-- 반응 삭제 -->
	<delete id="deleteReaction" parameterType="UserReaction">
		DELETE FROM user_reaction WHERE user_id = #{user_id} and post_id = #{post_id} and type=#{type}
	</delete>

	

</mapper>