<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.UserReactionMapper">
	
	
	<!-- 공통 조회 기능 -->
	<!-- 전체 좋아요 가져오기 -->
	<select id="selectCommentsByPostId" parameterType="BigDecimal" resultType="PostComment">
		select * from post where post_id=#{post_id}
	</select>
	
	<!-- 포스트별 댓글 개수 세기 -->
	<select id="countCommentsByPostId" parameterType="BigDecimal" resultType="int">
		select max(rownum) from post where post_id=#{post_id}
	</select>

	<!-- 작성자의 댓글 조회 (마이페이지 > 내 댓글 조회) -->
	<select id="selectMyComment" parameterType="String" resultType="BigDecimal">
		select * from post where user_id=#{user_id}
	</select>
	
	
	<!-- 좋아요 추가 -->
	<!-- 댓글 작성 -->
	<insert id="insert" parameterType="PostComment">
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="delete" parameterType="BigDecimal">
	</delete>


</mapper>