<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konan.database.UserInfoMapper">
	<insert id="join" parameterType="UserInfo">
		insert into user_info values(#{userId}, #{userPw},#{email},#{name},#{phoneNumber},#{region},#{gender},sysdate,#{propic},(null))
	</insert>
	<select id = "idCheck" parameterType="String" resultType="UserInfo">
		select user_id from user_info where user_id = #{userId}
	</select>
	<select id="login" parameterType="UserInfo" resultType ="UserInfo">
		Select user_id, user_pw, email, name, phone_number, region, gender, propic from user_info where user_id = #{userId} and user_pw = #{userPw}
	</select>
	<select id="selectAll" parameterType="UserInfo" resultType="UserInfo">
      select * from user_info
    </select>
	
</mapper>