<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinController</servlet-name>
  	<display-name>JoinController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.member.JoinController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.member.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.member.UpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteController</servlet-name>
  	<display-name>DeleteController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdCheckController</servlet-name>
  	<display-name>IdCheckController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.member.IdCheckController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptController</servlet-name>
  	<display-name>AcceptController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.admin.AcceptController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LikeController</servlet-name>
  	<display-name>LikeController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardreact.LikeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookmarkController</servlet-name>
  	<display-name>BookmarkController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardreact.BookmarkController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportController</servlet-name>
  	<display-name>ReportController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardreact.ReportController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostInsertController</servlet-name>
  	<display-name>PostInsertController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.postwrite.PostInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostUpdateController</servlet-name>
  	<display-name>PostUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.postwrite.PostUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostDeleteController</servlet-name>
  	<display-name>PostDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.postwrite.PostDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdoptController</servlet-name>
  	<display-name>AdoptController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.qna.AdoptController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewsBoardController</servlet-name>
  	<display-name>NewsBoardController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.news.NewsBoardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SortController</servlet-name>
  	<display-name>SortController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardview.SortController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchController</servlet-name>
  	<display-name>SearchController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardview.SearchController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FollowController</servlet-name>
  	<display-name>FollowController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.profile.FollowController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BlockController</servlet-name>
  	<display-name>BlockController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.profile.BlockController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PagingController</servlet-name>
  	<display-name>PagingController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.boardview.PagingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinAsDetectiveController</servlet-name>
  	<display-name>JoinAsDetectiveController</display-name>
  	<description></description>
  	<servlet-class>com.konan.controller.member.JoinAsDetectiveController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinController</servlet-name>
  	<url-pattern>/JoinController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdCheckController</servlet-name>
  	<url-pattern>/IdCheckController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptController</servlet-name>
  	<url-pattern>/AcceptController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeController</servlet-name>
  	<url-pattern>/LikeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookmarkController</servlet-name>
  	<url-pattern>/BookmarkController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportController</servlet-name>
  	<url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostInsertController</servlet-name>
  	<url-pattern>/PostInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostUpdateController</servlet-name>
  	<url-pattern>/PostUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostDeleteController</servlet-name>
  	<url-pattern>/PostDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdoptController</servlet-name>
  	<url-pattern>/AdoptController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewsBoardController</servlet-name>
  	<url-pattern>/NewsBoardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SortController</servlet-name>
  	<url-pattern>/SortController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FollowController</servlet-name>
  	<url-pattern>/FollowController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BlockController</servlet-name>
  	<url-pattern>/BlockController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PagingController</servlet-name>
  	<url-pattern>/PagingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinAsDetectiveController</servlet-name>
  	<url-pattern>/JoinAsDetectiveController</url-pattern>
  </servlet-mapping>
</web-app>